* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #161922;
}

.navbar {
    background: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #000000;
    background-image: linear-gradient(to top, #000000 0%, #000000 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items :center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "M-Plus-1";
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    text-decoration: none;
    height: 100%;
    font-size: 0.85rem;
    font-style: bold;
}

.navbar__links:hover {
    color: blue;
    transition: all 0.3s ease
}

.body_content {
  position: relative;
  text-align: center;
  color: white;
  line-height: 1.5rem;
  height: 1000px;
}

.body_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 12rem;
  }

.img_setting {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur(1.5px);
}

.body_center h1 {
    font-size: 4rem;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-bottom: 0;
  }

@media screen and (max-width: 960px){
    .navbar__container {
        display: flex;
        justify-content: space-between
         80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
    .navbar__item {
        width: 100%;
    }
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .button {
        display: flex;
        justify-content: 50px;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
     #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    } 
    #mobile-menu.is-active .bar:nth-child(2) {
        transform: translate(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        transform: translate(-8px) rotate(-45deg);
    }
}

.button-signin {
	display: inline-block;
	line-height: 120%;
	color: #FFF;
	background-color: transparent;
	border: 2px solid #fff;
    font-size: 16px;
	padding: 10px 12px;
	border-radius: 7px;
	transition: ease-out 0.3s;
	transform: translateX(15%);
	text-decoration: none;
}

.button-discord{
	display: inline-block;
	line-height: 120%;
	color: #FFF;
	background-color: transparent;
	border: 2px solid #fff;
    font-size: 16px;
	padding: 10px 12px;
	border-radius: 7px;
	transition: ease-out 0.3s;
	transform: translateX(-15%);
	text-decoration: none;
}
.button-signin:hover {
	transform: scale(1.4);
	transition: all 0.3s ease;
	display: inline-block;
	background-color: #000000;
	margin: 15px ;
}
.button-discord:hover {
	transform: scale(1.4);
	transition: all 0.3s ease;
	display: inline-block;
	background-color: #000000;
	margin: 15px ;
}

.titile {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
}

.main {
	width: 100%;
	background-color: #161922;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
.main__content h1 {
	width: 1280px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	font-size: 3rem;
	color: #ffcc74;
}
.main__content p {
	color: #ffffff;
	font-size: 2rem;
	justify-content: center;
	text-align: center;
	letter-spacing: 2px;
	width: 80%;
    
} */

.main__content {
    margin: auto;
    width: 80%;
    padding: 20px;
}

.main__content h1 {
	font-size: 3rem;
	padding: 3rem;
}


.background-img {
    width: 100%; 
    height: 705px;
    filter: blur(10px); 
    display: none;
}

.copyright {
    position: absolute;
    bottom: -59%;
    left: 50%;
    text-align: center;
    color: #fff;
    transform: translate(-50%, -50%);
}   

ul li:hover {
    text-decoration: underline;
}


.section {
	font-family: "M-Plus-1"; 
	background-color: #161922;
}

h1{
	font-size: 3rem;
	height: 100px;
	text-align: center;
}

.traloicauhoi {
  width: 82%;
  margin: 90px auto;
  color: white;
  background-color: #161922;
  padding: 45px 45px;
}

.traloicauhoi .container {
  position: relative;
  margin: 10px 10px;
}

.traloicauhoi .hoi {
  position: relative;
  padding: 10px 0;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.traloicauhoi .hoi::before {
  color: white;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

.traloicauhoi .traloi1 {
  position: relative;
  background: #161922;
  height: 0;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  transition: 0.4s;
  border-bottom: 4px solid #10161f;
}

.traloicauhoi .traloi2 {
  position: relative;
  background: #161922;
  height: 0;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  border-bottom: 4px solid #10161f;
}

.traloicauhoi hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
  color: #000000;
}

.traloicauhoi .container.active .traloi1 {
  height: 90px;
}

.traloicauhoi .container.active .traloi2 {
  height: 35px;
}

.traloicauhoi .container.active .hoi::before {
  font-size: 30px;
}
