DB_HOST=
DB_PORT=1433
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

RAILS_MASTER_KEY=
JWT_SECRET=
GAME_SERVER_TOKEN=

FRONTEND_URL=http://localhost:3000
DISCORD_WEBHOOK_URL=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3000/vi/discord/callback
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_DONATION_CHANNEL_ID=
DISCORD_DONATION_AUTO_REFRESH=false
DISCORD_DONATION_REFRESH_INTERVAL_SECONDS=86400

PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=

RCON_HOST=
RCON_PORT=25575
RCON_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
