* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #000000;
    background-image: linear-gradient(to top, #000000 0%, #000000 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items :center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "M-Plus-1";
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    text-decoration: none;
    height: 100%;
    font-size: 0.85rem;
    font-style: bold;
}

.navbar__links:hover {
    color: blue;
    transition: all 0.3s ease
}

.body_content {
  position: relative;
  text-align: center;
  color: white;
  line-height: 1.5rem;
  height: 1000px;
}

.body_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 12rem;
}

.img_setting {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur(1.5px);
}

@media screen and (max-width: 960px){
    .navbar__container {
        display: flex;
        justify-content: space-between
         80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #e1e1e1;
    }
    .navbar__item {
        width: 100%;
    }
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .button {
        display: flex;
        justify-content: 50px;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
     #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    } 
    #mobile-menu.is-active .bar:nth-child(2) {
        transform: translate(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        transform: translate(-8px) rotate(-45deg);
    }
}

.button-signin {
	display: inline-block;
	line-height: 120%;
	color: #e1e1e1;
	background-color: transparent;
	border: 2px solid #e1e1e1;
	font-size: 16px;
	padding: 10px 12px;
	border-radius: 7px;
	transition: ease-out 0.3s;
	transform: translateX(10%);
	text-decoration: none;
}

.button-discord{
	display: inline-block;
	line-height: 120%;
	color: #e1e1e1;
	background-color: transparent;
	border: 2px solid #e1e1e1;
	font-size: 16px;
	padding: 10px 12px;
	border-radius: 7px;
	transition: ease-out 0.3s;
	transform: translateX(-10%);
	text-decoration: none;
}
.button-signin:hover {
	transform: scale(1.4);
	transition: all 0.3s ease;
	display: inline-block;
	background-color: #000000;
	margin: 15px ;
}
.button-discord:hover {
	transform: scale(1.4);
	transition: all 0.3s ease;
	display: inline-block;
	background-color: #000000;
	margin: 15px ;
}

.titile {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
}

.main {
	width: 60%;
	background-color: #161922;
	display: flex;
	justify-content: center;
	align-items: center;
    margin: auto;
    border-radius: 5%;
}

/*
.main__content h1 {
	width: 1280px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	font-size: 3rem;
	color: #ffcc74;
}
.main__content p {
	color: #000;
	font-size: 2rem;
	justify-content: center;
	text-align: center;
	letter-spacing: 2px;
	width: 80%;
    
} */

.main__content {
    margin: auto;
    width: 80%;
    padding: 20px;
}

.main__content h1 {
	font-size: 2.5rem;
	padding: 3rem;
}


.background-img {
    width: 100%; 
    height: 705px;
    filter: blur(10px); 
    display: none;
}

.copyright {
    position: absolute;
    bottom: -59%;
    left: 50%;
    text-align: center;
    color: #e1e1e1;
    transform: translate(-50%, -50%);
}   

ul li:hover {
    text-decoration: underline;
}


.section {
	font-family: "M-Plus-1"; 
	background-color: #e1e1e1;
}

.sub_content {
    background-color: #161922;
    width: 60%;
    margin: auto;
    border-radius: 5%;
}

.traloicauhoi {
  width: 82%;
  margin: 90px auto;
  color: white;
  padding: 45px 45px;
}

.traloicauhoi .container {
  position: relative;
  margin: 10px 10px;
  transition: all 0.7s ease-in-out;
}

.traloicauhoi .hoi {
  position: relative;
  padding: 10px 0;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  font-family: 'Merriweather', serif;
  font-size: 1.6rem;
}

.traloicauhoi .hoi::before {
  color: white;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

.traloicauhoi .traloi1 {
  position: relative;
  background: #161922;
  height: 0;
  font-size: 1rem;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  border-bottom: 4px solid #10161f;
  font-family: 'Fira Sans', sans-serif;
}

.traloicauhoi .traloi2 {
  position: relative;
  background: #161922;
  height: 0;
  font-size: 1rem;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  border-bottom: 4px solid #10161f;
  font-family: 'Fira Sans', sans-serif;
}

.traloicauhoi .traloi3 {
  position: relative;
  background: #161922;
  height: 0;
  font-size: 1rem;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  border-bottom: 4px solid #10161f;
  font-family: 'Fira Sans', sans-serif;
}

.traloicauhoi hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
  color: #000000;
}

.traloicauhoi .container.active .traloi1 {
  height: 70px;
}

.traloicauhoi .container.active .traloi2 {
  height: 35px;
}

.traloicauhoi .container.active .traloi3 {
  height: 35px;
}

.traloicauhoi .container.active .hoi::before {
  font-size: 30px;
}

.hero {
    width: 100%;
    height: 100vh;
}

.wavemove {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Poppins', sans-serif;
  }
  
  :root {
    --card1: #bebebe;
    --card2: #a0a0a0;
    --card3: #686868;
    --card4: #404040;
  }

  .waves {
    background-color: var(--background-light);
  }

  .waves {
    position: relative;
    width: 100%;
    height: 20vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
  }
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  
  @media screen and (max-width: 700px) {
    .waves {
      height: 80px;
      min-height: 40px;
    }
  }
@media screen and (max-width: 720px) {
	.button-signin {
	display: inline-block;
	line-height: 120%;
	color: #e1e1e1;
	background-color: transparent;
	border: 2px solid #e1e1e1;
    font-size: 16px;
	padding: 5px 6px;
	border-radius: 7px;
	transition: ease-out 0.3s;
	transform: translateX(15%);
	text-decoration: none;
}
.body_center .typeIt {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 12rem;
	font-size: 18px;
  }

.button-discord{
	display: inline-block;
	line-height: 120%;
	color: #e1e1e1;
	background-color: transparent;
	border: 2px solid #e1e1e1;
    font-size: 16px;
	padding: 5px 6px;
	border-radius: 7px;
	transition: ease-out 0.3s;
	transform: translateX(-15%);
	text-decoration: none;
}
.button-signin:hover {
	transform: scale(1.2);
	transition: all 0.3s ease;
	display: inline-block;
	background-color: #000000;
	margin: 7px ;
}
.button-discord:hover {
	transform: scale(1.2);
	transition: all 0.3s ease;
	display: inline-block;
	background-color: #000000;
	margin: 7px ;
}

.main__content {
    margin: auto;
    width: 80%;
    padding: 20px;
}

.main__content h1 {
	font-size: 1.5rem;
	padding: 3rem;
}

.titile {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
}

.background-img {
    width: 100%; 
    height: 705px;
    filter: blur(10px); 
    display: none;
}

.copyright {
    position: absolute;
    bottom: -59%;
    left: 50%;
    text-align: center;
    color: #e1e1e1;
    transform: translate(-50%, -50%);
}   

ul li:hover {
    text-decoration: underline;
}


.section {
	font-family: "M-Plus-1"; 
	background-color: #161922;
}

.traloicauhoi {
  width: 82%;
  margin: 45 auto;
  color: white;
  background-color: #161922;
  padding: 22px 22px;
}

.traloicauhoi .container {
  position: relative;
  margin: 5px 5px;
  transition: all 0.7s ease-in-out;
}

.traloicauhoi .hoi {
  position: relative;
  padding: 5px 0;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  font-family: 'Merriweather', serif;
  font-size: 0.8rem;
}

.traloicauhoi .hoi::before {
  color: white;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 15px;
  transform: translateY(-50%);
}

.traloicauhoi .traloi1 {
  position: relative;
  background: #3e3e3e;
  height: 0;
  font-size: 0.68rem;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  border-bottom: 4px solid #10161f;
  font-family: 'Fira Sans', sans-serif;
}

.traloicauhoi .traloi2 {
  position: relative;
  background: #161922;
  height: 0;
  font-size: 0.8rem;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  border-bottom: 2px solid #10161f;
  font-family: 'Fira Sans', sans-serif;
}
.traloicauhoi .traloi3 {
  position: relative;
  background: #161922;
  height: 0;
  font-size: 0.8rem;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  border-bottom: 2px solid #10161f;
  font-family: 'Fira Sans', sans-serif;
}

.traloicauhoi hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
  color: #000000;
}

.traloicauhoi .container.active .traloi1 {
  height: 100px;
}

.traloicauhoi .container.active .traloi2 {
  height: 50px;
}

.traloicauhoi .container.active .traloi3 {
  height: 30px;
}
.traloicauhoi .container.active .hoi::before {
  font-size: 60px;
}

.hero {
    width: 100%;
    height: 100vh;
}

.scroll-down {
    position:absolute;
    bottom: -8rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mouse {
    width: 2.5rem;
    height: 5rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 2rem;
    margin-bottom: .5rem;
    display: flex;
}

.mouse span {
    width: 1rem;
    height: 1rem;
    background-color: rgb(255, 255, 255);
    display : block;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
}

.arrow span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 4px solid transparent;
    border-right-color: #e1e1e1;
    border-bottom-color: #e1e1e1;
    transform: rotate(-495deg);
    animation: arrow-down 0.5s alternate infinite;
}

@keyframes move-wheel { 
    100% {
        opacity: 1;
        transform: translateY(1rem);
    }   
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }  
}

@keyframes arrow-down { 
    0% {
        opacity: 0;
    }   
    25% {
        opacity: .25;
    }  
    50% {
        opacity: .5;
    }  
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }    
}

}

.checking-status {
  position: relative;
  margin: 0 auto;
  width: 200px;
  min-width: 300px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
  overflow:hidden;
  font-family: 'Roboto Mono',  monospace;
  border-radius: 16px;
  border: none;
}

.header {
  position: relative;
  z-index:1;
  width: 100%;
  height: 150px;
  box-shadow:0 4px 3px #0002;
  overflow: hidden;
}


.checking-status img{
  width:100%;
  transition: all 1s ease;
  z-index:0
}

.image {
    width: 100%;
    cursor:crosshair;
    overflow:hidden;
}

.image:hover img{
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.header h2{
  position:absolute;
  bottom:0;
  margin:0;
  width:100%;
  padding:10px 13px;
  color:#e1e1e1;
  text-transform:uppercase;
  pointer-events:none;
  text-align: left;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  font-family: 'Roboto Mono',  monospace;
  font-weight:400;
  letter-spacing: 1px
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(62,62,62,0.7);
}

.icon {
  position: absolute;
  background:#000;
  right: 10px;
  top: 105px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow:hidden;
  border:3px solid #e1e1e1;
  box-shadow:0 4px 3px #0002;
  z-index:9
}

#rest{
  padding: 50px 15px 30px 15px;
  line-height:30px;
  color:#000;
  font-family: 'Roboto Mono',  monospace; 
}

#rest b{
    color: rgb(24, 23, 23);
}

.color {
    width: 100%;
    height: 35%;
    position: absolute;
    background-color: #3e3e3e;
}

body {
    overflow-x: hidden;
    background-color: #e1e1e1;
}

